$gray: #e5e5e5 !default;
$primary: #7fcd91;
$primary-background: #4d4646;
$secondary: #f5eaea;
$secondary-background: #5b5656;
$white: #ffffff;
$black: #000000;
$black-light: #2a2c2b;
$gray-dark: #374140;

// Uikit customization;
$global-primary-background: $primary-background;
$global-secondary-background: $secondary;
